<script>
	gtag('config', 'G-H79CLVEY76', { 'page_path': '/about' })
</script>
<section id="fh5co-about" data-section="about">
	<div class="container">
		<div class="row">
			<div class="col-md-12 section-heading text-center">
				<i style="font-size:80px" class="to-animate fh5co-about-icon {{ .Site.Params.about.icon }}"></i>
				<h2 class="to-animate">{{ with .Site.Params.about.title }}{{ . | markdownify }}{{ end }}</h2>
				<div class="row">
					<div class="col-md-8 col-md-offset-2 subtext to-animate">
						<h3>{{ with .Site.Params.about.description }}{{ . | markdownify }}{{ end }}</h3>
					</div>
				</div>
				<div class="row">
					<div class="col-12 to-animate">
						<h3 style="font-size:20px">-{{ .Site.Params.about.name | safeHTML}}</h3>
					</div>
				</div>
				<div class="row">
				<div class="col-12">
					<div class="fh5co-person text-center to-animate">
						<figure>
							<img src="{{.Site.Params.about.img }}" />
						</figure>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-12 text-center to-animate">
				{{ if .Site.Params.about.button}}
				<p><a href="{{ .Site.Params.about.url }}" class="about-btn btn btn-lg btn-primary">{{ .Site.Params.about.button}}</a></p>
				{{ end }}
			</div>
		</div>
	</div>
</section>