<section id="fh5co-casestudy" data-section="case-study">
	<!-- <div class="mobile-casestudy-img">
		<img src="../../static/images/IMG_5501.jpeg" />
	</div> -->
	<div class="container">
		<div class="row">
			<div class="col-md-12 section-heading text-center">
				<h2 class="to-animate fadeInUp animated">{{ with .Site.Params.casestudy.title }}{{ . | markdownify }}{{ end }}</h2>
				<div class="row">
					<div class="col-md-8 col-md-offset-2 subtext to-animate  fadeInUp animated">
						<h3>{{ with .Site.Params.casestudy.description }}{{ . | markdownify }}{{ end }}</h3>
						<i class="icon {{ .Site.Params.casestudy.icon | markdownify }}"></i>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12 text-center to-animate fadeInUp animated">
				<p><strong>Analysis: </strong> 46% of customers were accessing the site on mobile - but on mobile the map broke. The 'New eateries' page was broken on the live site. The text was oriented towards restaurants, not the diners who would be using the platform. The mix between audiences was confusing and generated more text as The Realness tried to navigate both worlds.</p>
				<p><strong>Market Insights: </strong>I engaged in deep discovery with the client, and worked with her customers. <span style="font-weight: 500">My aim was to get to the core of the product’s purpose from the owner’s perspective, and its value proposition from the customer’s perspective.</span> We determined the primary customer was the restauranteur but the target market was the diner. Once the diners came the restaurants would follow.</p>
				<p><strong>Product Development: </strong>I redesigned the site to cut out half the pages, and simply serve the diner's needs. We made the map the homepage, since that was what the diner was coming for. We made everything more visual and image-based, stripping out the text-heavy explanations. We rewrote the remaining text to speak directly to the diner, and inject fun back into the product.</p>
				<p><strong>Digital consultancy: </strong>I liaised with the development team to implement business changes on the back end, and rebuilt the front end myself so it actually worked, particularly on mobile. We used lean agile methodology, and set a feature timeline with milestones based on measurable revenue-generating goals. <span style="font-weight: 500">The Realness is currently smashing its way through those goals</span></p>
			</div>
		</div>
	</div>
</section>