<section id="fh5co-intro">
	<div class="container">
		<div class="row blocks">
			{{ range .Site.Params.intro.item }}
			<div class="fh5co-block to-animate" style="background-image: url(images/{{ .img }});">
				<div class="overlay-darker"></div>
				<div class="overlay"></div>
				<div class="fh5co-text">
					<i class="fh5co-intro-icon {{ .icon }}"></i>
					<h2>{{ .title }}</h2>
					<p class="intro-box-description">{{ .description }}</p>
					{{ if .button}}
					<p><a href="{{ .url }}" class="btn btn-primary">{{ .button}}</a></p>
					{{ end }}
				</div>
			</div>
			{{ end }}
		</div>
	</div>
	<div id="fh5co-quote">
		<div class="container">
			<div class="row">
				<div class="col-12 quote text-left">
					<h3 class=" left-border to-animate">{{ .Site.Params.quote.text | markdownify }}</h3>
				</div>
			</div>
			<div class="row">
				<div class="col-12 to-animate">
					<h4>-{{ .Site.Params.quote.name | markdownify }}</h4>
				</div>
			</div>
		</div>
	</div>
	{{ if .Site.Params.intro.video.enable }}
	<div class="container">
		<div class="row watch-video text-center to-animate">
			<!-- <span>{{ with .Site.Params.intro.video }}{{ . }}{{ end }}</span> -->

			<div class="watch-video-title">
				<p style="font-size:30px">{{.Site.Params.intro.video.title | markdownify }}</p><br />
				{{.Site.Params.intro.video.subheading | markdownify }}
			</div>

			<a href="{{ .Site.Params.intro.video.url }}" class="popup-vimeo btn-video"><i class="{{ .Site.Params.intro.video.icon | markdownify }}"></i></a>

		</div>
	</div>
	{{ end }}
</section>