<script>
    gtag('config', 'UA-173142204-1', { 'page_path': '/social-products' })
</script>
<section id="fh5co-products" data-section="products">
    <div class="container">
        <div class="row">
            <div class="col-md-12 section-heading text-center">
                <h2 class="to-animate">{{ with .Site.Params.products.title }}{{ . }}{{ end }}</h2>
                <div class="row">
                    <div class="col-md-8 col-md-offset-2 subtext to-animate">
                        <h3>{{ with .Site.Params.products.description }}{{ . | markdownify }}{{ end }}</h3>
                    </div>
                </div>
                <div class="row">
                    <div style="margin-top: 20px" class="col text-center to-animate">
                        <span> <i style="font-size:80px" class="fh5co-products-icon {{ .Site.Params.products.icon }}"></i></span>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="row row-bottom-padded-sm">
            {{ range .Site.Params.products.rowOne }}
            <div class="col-md-4 col-sm-6 col-xxs-12">
                <div class="fh5co-project-item to-animate">
                    <a href="#fh5co-contact" onClick=trackProductClick({{ .trackingCode }})>
                        <img src="images/{{ .img }}" alt="{{ .alt }}" class="img-responsive" style="{{ .style }}"></a>
                    <i class="icon to-animate-2 bounceIn animated {{ .icon | markdownify }}"></i> 
                    <div class="fh5co-text">
                        <h2>{{ .title }}</h2>
                        <span>{{ .subtitle }}</span><br />
                        <button type="button" class="inv-btn" onClick=toggleMore({{ .id }})>
                            <span class="more">More...</span>
                        </button><br />
                        <div id="more-{{.id}}" class="hidden" style="padding-top: 5px">
                            <span><strong>Outcomes: </strong></span>
                            <span>
                                <ul>
                                    {{ range .outcomes }}
                                    <li>
                                        {{ index . }}
                                    </li>
                                    {{ end }}
                                </ul>
                            </span>
                            <span><strong>Cost: </strong>{{ .cost }}</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="clearfix visible-sm-block"></div>
            {{ end }}
        </div>
        <div class="row row-bottom-padded-sm">
            {{ range .Site.Params.products.rowTwo }}
            <div class="col-md-4 col-sm-6 col-xxs-12" id="freeAnalyticsTool">
                <div class="fh5co-project-item to-animate">
                    <a href="{{ .url }}" onClick=trackProductClick({{ .trackingCode }})>
                        <img src="images/{{ .img }}" alt="{{ .alt }}" class="img-responsive" style="{{ .style }}"></a>
                     <i class="icon to-animate-2 bounceIn animated {{ .icon | markdownify }}"></i> 
                    <div class="fh5co-text">
                        {{ if eq .url "https://analytics.maddyking44.com/" }}
                        <a href="{{ .url }}" target="_blank" rel="noopener noreferrer" onClick=trackProductClick({{ .trackingCode }}>
                            <h2 class="showLink">{{ .title }}</h2>
                        </a>
                        {{ else }}
                        <h2>{{ .title }}</h2>
                        {{ end }}
                        <span>{{ .subtitle }}</span><br />
                        <button type="button" class="inv-btn" onClick=toggleMore({{ .id }})>
                            <span class="more">More...</span>
                        </button><br />
                        <div id="more-{{.id}}" class="hidden" style="padding-top: 5px">
                            <span><strong>Outcomes: </strong></span>
                            <span>
                                <ul>
                                    {{ range .outcomes }}
                                    <li>
                                        {{ index . }}
                                    </li>
                                    {{ end }}
                                </ul>
                            </span>
                            <span><strong>Cost: </strong>{{ .cost }}</span>
                            {{ if eq .url "https://analytics.maddyking44.com/" }}
                            <br /><a href="{{ .url }}" target="_blank" rel="noopener noreferrer" onClick=trackProductClick({{ .trackingCode }}>
                                <span class="showLink"><strong style="margin-right: 3px">Try it now</strong>
                                    <i class="tryIcon icon icon-arrow-right-circle"></i></span></a>
                            {{ end }}
                        </div>
                    </div>
                </div>
            </div>

            <div class="clearfix visible-sm-block"></div>
            {{ end }}
        </div>
        <div class="row">
            <div class="col-md-12 text-center to-animate">
                <p>{{ .Site.Params.products.footertext | markdownify }}</p>
            </div>
        </div> -->
        <div class="row">
            <div class="col-md-12 text-center to-animate">
                {{ if .Site.Params.products.button}}
                <p><a href="{{ .Site.Params.products.url }}" target="_blank" rel="noopener noreferrer" class="products-btn btn-lg btn btn-primary">{{ .Site.Params.products.button}}</a></p>
                {{ end }}
            </div>
        </div>
    </div>
</section>
<script>
    function trackProductClick(label) {
        gtag('event', 'clicked', {
            'event_category': 'social_product',
            'event_label': label,
            'value': 1
        })
    }
    function toggleMore(id) {
        const more = document.getElementById(`more-${id}`)
        more.classList.value === 'hidden' ? more.classList.remove('hidden') : more.classList.add('hidden')
    }
</script>